.title-form {
    background-color: #0d6efd !important;
    color: white;
    margin-bottom: 10px;
}

.example-full-width {
    width: 100%;
}

.field-width{
    width: 100%;
    height: 70%;
    text-align: center;
}

.example-full-width td {
    text-align: center;
}

.button-options {
    text-align: center;
    width: 100%;
    background-color: #1f0471;
    padding: 30px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.calendar {
    width: 60%;
    height: 20%;
    margin: 10px;
}

.field-form {
    margin: 10px;
}

.body {
    padding: 60px;
}

.calendar-fest {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20;
}

.fest {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.button-fest {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.list-fest {
    background-color: rgb(215, 209, 209);
    padding: 20px;
    border-radius: 5px;
    height: 80%;
}