<app-toolbar>
    <div class="body">
        <div class="div-form">
            <mat-toolbar class="title-form">
                <span>Parametros</span>
                <span class="example-spacer"></span>
            </mat-toolbar>
        </div>

        <!-- Botones-->

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'festividades'">
                        Festividades
                    </button>

                </td>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'overtime'">
                        Overtime
                    </button>
                </td>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'standby'">Standby</button>
                </td>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'horarios'">Horarios</button>
                </td>
            </tr>
        </table>

        <!-- Seccion festividades-->
        <div *ngIf="botonPresionado === 'festividades'">

            <!-- Campos Formulario-->
            <div class="field-form">
                <mat-form-field class="field-width">
                    <mat-label>Pais</mat-label>
                    <input matInput placeholder="Colombia">
                </mat-form-field>
            </div>

            <div class="field-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="field-width">
                                <mat-label>Mes</mat-label>
                                <mat-select>
                                    <mat-option value="one">Octubre</mat-option>
                                    <mat-option value="two">Noviembre</mat-option>
                                    <mat-option value="two">Diciembre</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="field-width">
                                <mat-label>Año</mat-label>
                                <mat-select>
                                    <mat-option value="one">2023</mat-option>
                                    <mat-option value="two">2022</mat-option>
                                    <mat-option value="two">2021</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </td>
                        <td>
                            <mat-form-field class="field-width">
                                <mat-label>Dias Habiles</mat-label>
                                <input matInput placeholder="22">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Calendario y fechas festivos -->

            <div class="calendar-fest">
                <full-calendar class="calendar" [options]="calendarOptions"></full-calendar>

                <div class="fest">
                    <button class="button-fest">Festivos agregados</button>
                    <ol id="date-list" class="list-fest">
                        <!-- Las fechas se agregarán aquí -->
                    </ol>
                </div>
            </div>

            <!-- Botones  parte inferior festividades-->
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <button class="button-options">Descargar Plantilla(CSV)</button>
                    </td>
                    <td>
                        <button class="button-options">Subir Plantila(CSV)</button>
                    </td>
                    <td>
                        <button class="button-options">Guardar Cambios</button>
                    </td>
                </tr>
            </table>

        </div>

        <!-- Seccion overtime -->
        <div *ngIf="botonPresionado === 'overtime'">

            <div class="field-form-p">
                <mat-form-field style="text-align: left; width: 95%; height: 70px; padding: 10px;">
                    <mat-label>Pais</mat-label>
                    <input matInput placeholder="Colombia">
                </mat-form-field>
            </div>

            <div class="field-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field style="text-align: left; width: 95%; height: 70px;">
                                <mat-label> Limites legales diarios: </mat-label>
                                <input matInput placeholder="40">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="text-align: center; width: 95%; height: 70px;">
                                <mat-label> Limites legales semanales: </mat-label>
                                <input matInput placeholder="40">
                            </mat-form-field>

                        </td>
                        <td>
                            <mat-form-field style="text-align: right; width: 95%; height: 70px;">
                                <mat-label> Limites legales mensuales: </mat-label>
                                <input matInput placeholder="28">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <div style="text-align: right; ">
                    <button mat-raised-button class="button-update">Actualizar</button>
                </div>

            </div>

        </div>

        <!-- Seccion standby -->
        <div *ngIf="botonPresionado === 'standby'">

            <div class="field-form-p">
                <mat-form-field style="text-align: left; width: 95%; height: 70px; padding: 10px;">
                    <mat-label>Pais</mat-label>
                    <input matInput placeholder="Colombia">
                </mat-form-field>
            </div>

            <div class="field-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field style="text-align: left; width: 95%; height: 70px;">
                                <mat-label> Limites legales diarios: </mat-label>
                                <input matInput placeholder="40">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="text-align: center; width: 95%; height: 70px;">
                                <mat-label> Limites legales semanales: </mat-label>
                                <input matInput placeholder="40">
                            </mat-form-field>

                        </td>
                        <td>
                            <mat-form-field style="text-align: right; width: 95%; height: 70px;">
                                <mat-label> Limites legales mensuales: </mat-label>
                                <input matInput placeholder="28">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <div style="text-align: right; ">
                    <button mat-raised-button class="button-update">Actualizar</button>
                </div>

            </div>

        </div>

        <!-- Seccion horarios -->
        <div *ngIf="botonPresionado === 'horarios'">

            <div class="field-form-p">
                <mat-form-field style="text-align: left; width: 35%; height: 70px; padding: 10px;">
                    <mat-label>Pais</mat-label>
                    <input matInput placeholder="Colombia">
                </mat-form-field>
            </div>


            <div class="calendar-fest">
                <fieldset class="table-h">

                    <legend>Turnos: </legend>

                    <mat-table [dataSource]="Datos">

                        <!-- Dias -->
                        <ng-container matColumnDef="dias">
                            <mat-cell *matCellDef="let element"> {{element.dias}} </mat-cell>
                        </ng-container>

                        <!-- inicio  -->
                        <ng-container matColumnDef="inicio">
                            <mat-cell contenteditable="true" *matCellDef="let element"> {{element.inicio}} </mat-cell>
                        </ng-container>

                        <!-- a  -->
                        <ng-container matColumnDef="a">
                            <mat-cell *matCellDef="let element"> {{element.a}} </mat-cell>
                        </ng-container>

                        <!-- fin  -->
                        <ng-container matColumnDef="fin">
                            <mat-cell contenteditable="true" *matCellDef="let element"> {{element.fin}} </mat-cell>
                        </ng-container>

                        <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

                    </mat-table>

                </fieldset>

                <table class="example-full-width">

                    <div class="field-form-h">
                        <mat-form-field style="text-align: right; width: 95%; height: 70px;">
                            <mat-label> Codigo empleado: </mat-label>
                            <input matInput placeholder="Colombia">
                        </mat-form-field>

                        <mat-form-field style="text-align: right; width: 95%; height: 70px; ">
                            <mat-label> Semana: </mat-label>
                            <input matInput placeholder="Colombia">
                        </mat-form-field>

                        <mat-form-field style="text-align: right; width: 95%; height: 70px;">
                            <mat-label> Dia: </mat-label>
                            <input matInput placeholder="Colombia">
                        </mat-form-field>

                        <mat-checkbox color="primary" labelPosition="after">Se ha realizado una revision exhaustiva de
                            las horas registradas, y se ha confirmado que cumple con los etandares establecidos por la
                            compañia y con las normativas legales vigentes antes de su aprobacion.</mat-checkbox>
                    </div>

                </table>

            </div>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <button class="button-options">Descargar Plantilla(CSV)</button>
                    </td>
                    <td>
                        <button class="button-options">Subir Plantila(CSV)</button>
                    </td>
                    <td>
                        <button class="button-options">Guardar Cambios</button>
                    </td>
                </tr>
            </table>


        </div>

    </div>
</app-toolbar>