.mi-estilo {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0px;
    background-color: #0d6efd;
    color: #f8f9fa;
    font-size: 1.2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

mat-header-cell {
    background-color: #0d6efd !important;
    color: white;
}

.table {
    margin-top: 10px;
}

.body {
    padding: 50px;
}

.filter-text {
    margin: 10px 5px;
    padding: 10px 0px;
    color: #4a4a4a;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.filter-divider {
    padding: 10px;
    border: none;
    border-top: 2px solid #4a4a4a;
    width: 100%;
}

.example-full-width {
    width: 60%;
}

.field-width {
    width: 100%;
}