<app-toolbar>
</app-toolbar>


<div style="display: flex; justify-content: space-between;">
    <h2>Perfil</h2>
    <div>
      <form>
        <div style="display: flex; justify-content: space-between;">
          <div>
            <label for="userId">ID de usuario:</label><br>
            <input type="text" id="userId" name="userId"><br>
            <label for="name">Nombre:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="surname">Apellidos:</label><br>
            <input type="text" id="surname" name="surname">
          </div>
          <div>
            <label for="email">Correo electrónico:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="country">País:</label><br>
            <input type="text" id="country" name="country">
          </div>
        </div>
        <hr>
        <div style="display: flex; justify-content: space-between;">
          <div>
            <label for="managerName">Nombre del gerente:</label><br>
            <input type="text" id="managerName" name="managerName">
          </div>
          <div>
            <label for="managerEmail">Correo del gerente:</label><br>
            <input type="email" id="managerEmail" name="managerEmail">
          </div>
        </div>
        <input type="submit" value="GUARDAR CAMBIOS">
      </form> 
    </div> 
  </div> 