<app-toolbar>

  <body class="body">
    <div class="div-form">
      <mat-toolbar  class="title-form">
        <span>Perfil</span>
        <span class="example-spacer"></span>
      </mat-toolbar>

      <form class="container" style="padding-top: 20px;">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>ID Usuario</mat-label>
                <input matInput placeholder="alguien@example.com">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Pais</mat-label>
                <mat-select>
                  <mat-option value="opcion1">Opción 1</mat-option>
                  <mat-option value="opcion2">Opción 2</mat-option>
                  <!-- Agrega más opciones aquí según sea necesario -->
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-width">
                <mat-label>Apellidos</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>

        </table>

        <hr>

        <table class="example-full-width" cellspacing="0" style="padding-top: 20px;">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre Gerente</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Correo Gerente</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <div style="text-align: right;">
          <button mat-raised-button color="primary">GUARDAR CAMBIOS</button>
        </div>

      </form>

    </div>
  </body>

</app-toolbar>